<section class="ecom-banner-wrapper">
    <div class="ecom-banner-header">
        <span>ecom</span>
        <span>tagline</span>
        <a href="#">
            Button
        </a>
    </div>
    <div class="ecom-banner-content">
        Content
        <div class="ecom-banner-content-text">
            <h2>Title</h2>
            <p>Subtext</p>
            <a href="#">
                Button
            </a>
        </div>
    </div>
    <div class="ecom-banner-footer">
        Footer Text
    </div>
</section>

{% schema %}
{
    "name": "Ecom Banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ]
}
{% endschema %}